<?xml version="1.0"?>
<!DOCTYPE mapping PUBLIC "-//EXOLAB/Castor Mapping DTD Version 1.0//EN"
                         "http://castor.org/mapping.dtd">

<mapping>

  <class name="cwb.cmt.upperair.model.StationList"> 
	<map-to xml="StationList"/>
	<field name="stns"	type="cwb.cmt.upperair.model.Station"  collection="vector">
      <bind-xml name="Station"/>
	</field>
  </class>
  
  <class name="cwb.cmt.upperair.model.Station">
    <field name="stno" type="java.lang.String">
      <bind-xml name="Stno" node="element"/>
    </field>
	<field name="stnCName" type="java.lang.String">
      <bind-xml name="StnCName" node="element"/>
    </field>
  </class>
</mapping>
